{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Hello, and welcome to:</h1>
        </div>
        <div class="col d-flex justify-content-center">
            <img class="img-fluid logo-front"
                src="{% static 'images/obscuripedia-high-resolution-logo-transparent.png' %}" alt="Obscuripedia logo">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h3>Click <span><a href="#"><em>here</em></a></span> to enter</h3>
            </p>
        </div>
    </div>
</div>

{% endblock %}