
:root {
    /* Fonts */
    --main-font: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';

    /* Colours */
    --background: #f2f2f2;
    --black: #000000e2;
    --white: #fff;
    --off-white: #f6f6f6;
    --blue: #0d99fd;

    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #000000;
    --border: 1px solid #000000c7;
}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Footer */
footer {
    flex-shrink: 0;
}

.footer-container {
    padding: 0;
}

.footer-items {
    text-align: center;
    background-color: var(--black);
    color: aliceblue;
    padding-top: 10px;
}

.footer-items span {
    font-size: 20px;
}

.copyright {
    padding-bottom: 15px;
    padding-top: 5px;
}

.footer-list i {
    font-size: 40px;
    color: aliceblue;
}

.footer-list .fa-square-facebook:hover {
    color: rgba(98, 114, 237, 0.905);
    transition: 0.5s;
}

.footer-list .fa-square-twitter:hover {
    color: rgba(63, 193, 248, 0.905);
    transition: 0.5s
}

.footer-list .fa-instagram:hover {
    color: rgba(159, 25, 208, 0.905);
    transition: 0.5s;
}

/* Header */

.navbar{
    background-color: var(--black);
    box-shadow: var(--small-box-shadow);
}

a.nav-link {
    color: var(--off-white);
}

a.nav-link:hover {
    color: rgb(168, 168, 168);
    transition: 0.5s;
}

.btn-outline-success {
    color: var(--white);
}

#logo-img {
    height: 100px;
}

/* Index page */

.logo-front {
    height: 400px;
}


/* Articles page */

.card-img-custom {
    height: 200px;
    object-fit: cover;
}
    
.article-image {
    height: 300px;
}

.description {
    padding-top: 50px;
}