{% load static %}

<footer class="container-fluid">
    <div class="row footer-items no-gutters">
        <div class="col-12 col-md-3 copyright">
            <span>Copyright Obscuripedia</span>
        </div>
        <div class="col">
            <ul class="list-inline footer-list no-gutters">
                <li class="col-3 list-inline-item"><a href="https://www.facebook.com"
                        aria-label="Find us on facenook (Opens in a new tab)" target="_blank" rel="noopener"><span><i
                                class="fa-brands fa-square-facebook"></i></span></a></li>
                <li class="col-3 list-inline-item"><a href="https://www.twitter.com"
                        aria-label="Find us on Twitter (Opens in a new tab)" target="_blank" rel="noopener"><span><i
                                class="fa-brands fa-square-twitter"></i></span></a></li>
                <li class="col-3 list-inline-item"><a href="https://www.instagram.com"
                        aria-label="Find us on Instagram (Opens in a new tab)" target="_blank" rel="noopener"><span><i
                                class="fa-brands fa-instagram"></i></span></a></li>
            </ul>
        </div>
    </div>

</footer>