{% extends 'base.html' %}
{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-5 d-flex justify-content-center">
            {% if "placeholder" in article.image.url %}
            <img class="article-image img-fluid" src="{% static 'images/placeholder.png' %}" alt="placeholder image">
            {% else %}
            <img class="article-image img-fluid" src="{{ article.image.url }}" alt="{{ article.image_alt }}">
            {% endif %}
        </div>
        <div class="col-12 col-lg-7 order-2 order-lg-1 align-self-center">
            <p>{{ article.description }}</p>
        </div>
        <div class="col-12 col-lg-4 order-1 order-lg-2 align-self-center">
            <h4 class="">{{ article.animal_name }}</h4>
            <h5>{{ article.binomial_name }}</h5>
            <hr>
            <p class="">Location: {{ article.location }}</p>
            <p class="">Dietary needs: {{ article.diet }}</p>
        </div>
        <div class="col-12 col-lg-8 order-3 d-flex justify-content-center">
            {% if "placeholder-map" in article.map.url %}
            <img class="article-image img-fluid" src="{% static 'images/placeholder-map.webp' %}" alt="placeholder map">
            {% else %}
            <img class="article-image img-fluid" src="{{ article.map.url }}" alt="{{ article.map_alt }}">
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}