{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% load static %}

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12 card mb-5 mt-5">
            <div class="card-body">
                Debug Info: {{ article_form.instance.pk }}
                <h3>Edit article</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ article_form | crispy }}
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}